@model Employee

<div class="container mt-4">
    <h2>@(Model?.EmployeeCode == "" ? "Add New Employee" : "Edit Employee")</h2>
    @{
        var isEdit = !string.IsNullOrEmpty(Model?.EmployeeCode);
        var action = isEdit ? "Edit" : "Create";
    }
    <div class="text-danger">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>


    <form asp-action="@action" method="post" class="row g-3">
        <div class="col-md-4">
            <label asp-for="EmployeeCode" class="form-label"></label>
            @if (!string.IsNullOrEmpty(Model?.EmployeeCode))
            {
                <input asp-for="EmployeeCode" class="form-control" readonly />
            }
            else
            {
                <input asp-for="EmployeeCode" class="form-control" placeholder="Enter employee code" maxlength="10" />
            }
            <span class="text-danger">@Html.ValidationMessageFor(m => m.EmployeeCode)</span>
        </div>



        <div class="col-md-4">
            <label asp-for="EmployeeName" class="form-label"></label>
            <input asp-for="EmployeeName" class="form-control" placeholder="Enter full name" />
            <span class="text-danger">@Html.ValidationMessageFor(m => m.EmployeeName)</span>
        </div>

        <div class="col-md-4">
            <label asp-for="DateOfBirth" class="form-label"></label>
            <input asp-for="DateOfBirth" type="date" class="form-control" placeholder="Select date of birth" />
        </div>

        <div class="col-md-4">
            <label asp-for="Gender" class="form-label"></label>
            <select asp-for="Gender" class="form-select" required>
                <span class="text-danger">@Html.ValidationMessageFor(m => m.Gender)</span>
                <option value="">-- Select Gender --</option> <
                <option value="true">Male</option>
                <option value="false">Female</option>
            </select>
        </div>

        <div class="col-md-4">
            <label asp-for="Department" class="form-label"></label>
            <input asp-for="Department" class="form-control" placeholder="Enter department name" />
        </div>

        <div class="col-md-4">
            <label asp-for="Designation" class="form-label"></label>
            <input asp-for="Designation" class="form-control" placeholder="Enter designation" />
        </div>

        <div class="col-md-4">
            <label asp-for="BasicSalary" class="form-label">Salary</label>
            <input asp-for="BasicSalary" type="number" step="0.01" class="form-control" placeholder="Enter salary amount" />
            <span class="text-danger">@Html.ValidationMessageFor(m => m.BasicSalary)</span>
        </div>


        <div class="col-12">
            <button type="submit" class="btn btn-primary">@(isEdit ? "Update" : "Save")</button>
        </div>
    </form>
</div>
